@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap");

body {
  background-color: #155e95;
  display: flex;
    justify-content: center;
}

.comfortaa {
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  color: #ede9dd;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 800px;
}

.logo {
  width: 40rem;
  margin-left: auto;
  margin-right: auto;
}

.tagline {
  text-align: center;
  font-size: 2rem;
  margin-top: 1rem;
}

@media (max-width: 600px) {
  .logo {
    width: 100%;
  }
}

.footer {
  text-align: center;
  position: fixed;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1rem;
}

.contact-details {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  border: 2px solid #ede9dd;
  padding: 1rem;
  border-radius: 8px;
}

.contact-number {
    color: #ede9dd;
}